Source: ros-rolling-kinematics-interface-pinocchio
Section: misc
Priority: optional
Maintainer: Saif Sidhik <mail@saifsidhik.page>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, ros-rolling-ament-cmake, ros-rolling-ament-cmake-gmock <!nocheck>, ros-rolling-eigen3-cmake-module, ros-rolling-kinematics-interface, ros-rolling-pinocchio, ros-rolling-pluginlib, ros-rolling-ros2-control-test-assets <!nocheck>, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-kinematics-interface-pinocchio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, ros-rolling-eigen3-cmake-module, ros-rolling-kinematics-interface, ros-rolling-pinocchio, ros-rolling-pluginlib, ros-rolling-ros-workspace
Description: Pinocchio-based implementation of ros2_control kinematics interface
